body{
    background: goldenrod;
    margin: 0;
    font-family: 'Smythe', cursive;
    font-size: 16px;
}

header {
    background-image: url('images/hamburger.jpg');
    height: 167px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 46px;
}

h1 {
    color: white;
    font-size: 39px;
    font-weight: lighter;
    margin: 0;
}

h2 {
    font-size: 78px;
    margin: 0;
}

h3 {
    font-size: 28px;
    margin: 0;
}

p {
    color: #8B8B8B;
    margin: 8px 0;
}

hr {
    margin: 51px 0 45px;
}

.lead {
    color: white;
    font-size: 23px;
    font-weight: lighter;
    margin-top: 5px;
}

.container {
    width: 600px;
    min-height: 1161px;
    /* height: fit-content; */
    margin: 0 auto;
    background: whitesmoke;
    position: relative;
}

/* menu */

.menu-items {
    padding: 70px 46px 0;
}

.menu-items hr {
    height: 1px;
    background: #BBBBBB;
    border: none;
}

.item {
    display: flex;
    justify-content: space-around;
}

.col-item-listing, .col-emoji, .col-plus-icon {
    display: flex;
    flex-direction: column;
}

.col-emoji {
    width: 100px;
}

.col-item-listing {
    flex-grow: 2;
    justify-content: flex-end;
}

.price {
    font-size: 20px;
    color: #000;
}

.plus-icon {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #3C3C3C;
    text-align: center;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 0 0 3px 0;
    margin: 0;
}

/* order */

.current-order {
    padding: 0 46px 46px;
    display: none;
}

.your-order {
    margin-bottom: 60px;
    text-align: center;
}

.order-line, .total-price {
    display: flex;
    justify-content: space-between;
}

.order-line .price, .total-price .price {
    flex-grow: 2;
    text-align: right;
}

.current-order hr {
    height: 2px;
    background: #393333;
    margin: 24px 0 14px;

}

.remove-button {
    border: none;
    background: none;
    color: #BBBBBB;
    margin-left: 13px;
}

.order-button {
    width: 100%;
    margin-top: 53px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background: #16DB99;
    font-weight: bold;
    border: none;
    padding: 18px 0;
    font-size: 20px;
}
.modal-inner {
    display: none;
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 23px;
    flex-direction: column;
}

.modal-inner h2 {
    font-size: 20px;
    text-align: center;
    margin: 24px 0 46px;
}

form {
    display: flex;
    flex-direction:column;
}

input[type="text"]{
    display: block;
    margin-bottom: 23px;
    height: 71px;
    font-size: 20px;
    padding: 0 26px;
}

#cvv {
    margin-bottom: 46px;
}

.modal-inner .order-button {
    margin-top: 0;
}

.modal-background {
    position: absolute;
    top: 167px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(185,185,185,0.896796218487395) 87%, rgba(255,255,255,0) 100%);
    right: 0px;
    padding: 140px 25px;
    height: 50%;
    width: 550px;
    display: none;
}

.thank-you {
    margin: 0 46px;
    padding: 50px 60px;
    background: #ECFDF5;
    color: #065F46;
    text-align: center;
    /* display: none; */
}
.thank-you h3 {
    font-size: 32px;
}